<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/75034f86de.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NMS</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Solway&display=swap"
        rel="stylesheet">
</head>

<body>
    <header id="header">
        <div id="main">
            <div id="content">
                <h4>NMS</h4>
                <h6><span id="one">________</span>INNOVATION IN REALITY<span id="two">________</span></h6>
            </div>
            <div id="menus">
                <audio src="rclick-13693.mp3" preload="auto" id="sound"></audio>
                <li><a href="http://localhost:3000/index" id="a1" title="Home">Home</a></li>
                <li><a href="http://localhost:3000/profile" id="a1" title="My Profile">My Profile</a></li>
                <li><a href="#Team" id="a1" title="Our Team">Our Team</a></li>
                <li><a href="#contact" id="a1" title="Contact Us">Contact Us</a></li>
                <li><a href="#Blogs" id="a1" title="Blogs">Blogs</a></li>
                
            </div>
            
        </div>
    </header>
    <section>
        <div id="txt-img">
            <div id="inner">
                <div class="txt">Making Your <span>Vision</span> into Reality.</div>
            </div>

            <div id="rec"><img src="Rectangle 5533.png"></div>
        </div>
        <div id="home-txt">
            <div class="img-div"><img src="images.jpeg" id="img1" alt="failed"></div>
            <div class="txt-div">
                <div>
                    <h2>Who We Are</h2>
                    <p>We are the software developers who can develop the software 
                        based on the client requirements in the given certain amount of time.
                        <br>
                        Having good skills in front-end,backend,Server-side.                 </p>
                    <button class="btn">Contact Now<span class="material-symbols-outlined">
                            arrow_forward
                        </span></button>
                </div>

            </div>
        </div>
        <div id="offering">
            <h2><a href="offering">My Projects</a></h2>
            <p>This project journey can be divided into two stages.For more details, <a href="#">Click Here</a>
            </p>
        </div>
        <div class="Booking-Info" id="Booking-Info">
            <div id="booking-inner">
                <div><span>1</span><a href="">NetFlix</a></div>
            </div>
            <div id="booking-inner">
                <div><span>2</span><a href="">Jokes</a></div>
            </div>
            <div id="booking-inner">
                <div><span>3</span><a href="">Udemy</a></div>
            </div>
            
        </div>
        <div id="offering-details">
            <div id="verification">
                <div><img src="netflix.png" alt="fail">
                    <h3>NetFlix UI</h3>
                    <p>The netflix UI has three pages 
                        containing  homepage and choose the plans
                        <br>Final one is login page
                    </p>
                    <div id="ver-inner">
                       <a href="https://nagamaheshbabu.github.io/Netflix-app/"><button id="btn">Connect</button></a>
                       
                    </div>
                </div>
            </div>
            <div id="jokes-div">
                <div>
                    <img src="new.jpg" alt="fail">
                    <h3>Jokes UI</h3>
                    <p>This is jokes UI that runs on the server.
                        When we click on Connect
                    Each and every time u will get a joke when u 
                    click it...
                        
                    </p>
                    <div id="joke-inner">
                       <a href="http://localhost:3000/joke" ><button id="btn">Connect</button></a>
                    </div>
                </div>
            </div>
                <div id="udemy-div">
                <div><img src="udemy.png" alt="fail">
                    <h3>Udemy</h3>
                    <p>This is udemy webpage containing the homepage and login page</p>
                    <div id="udemy-inner">
                       <a href="https://nagamaheshbabu.github.io/udemy-website/"><button id="u-btn">Connect</button></a> 
                    </div>

                </div>
            </div>
            
        </div>
        <div id="Team">
            <h3 id="tm">Our Team Members</h3>
            <div id="Team-inner">
                <div id="pr1">
                    <img src="name1.png" alt="">
                    <h3>Brajesh Pathak</h3>
                    <p>A chartered Account& Company Secretary has over a decade of experience in managing
                        reality focused venturee capital funds,and was heading Azure Capital Advisors private Limited.
                    </p>
                    <a href="#">View More</a>
                </div>
                <div id="pr2">
                    <img src="name2.png" alt="">
                    <h3>Deepak Shukla</h3>
                    <p>Deepak Shukla has completed his B.Tech(hons) from the indian institute of Technologiy(IIT)
                        Kharagpur and obtained an MBA from the
                        Indian Institute of Management(IIM) Ahmedabad,India.
                    </p>

                    <a href="">View More</a>
                </div>
                <div id="pr3">
                    <img src="name3.png" alt="">
                    <h3>Alok Kumar Singh</h3>
                    <p> Entreprenuer with pedigree fromIIT-BHIU and IIML, nad more than 25 years of experience
                        in Management responsibilites in top
                        tier companies including Infoysis,Infoysis BPO and Azure Capitals. </p>
                    <a href="#">View More</a>
                </div>

            </div>

        </div>

        <div id="Blogs">
            <h3 id="bg">Blogs</h3>
            <div id="Blog-inner">
                <div id="bg1">
                    <img src="bg1.png" alt="">
                    <p><a href="">Real Estate, Analysis</a></p>
                    <div id="date-admin">
                        <div class="one"><span class="material-symbols-outlined" id="one-in">date_range </span>
                            <p>09 Jun 2022</p>
                        </div>
                        <div>By Admin</div>
                    </div>
                    <h3>Guide for personal property Buying</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos totam quo mollitia tenetur
                        perspiciatis laboriosam quibusdam harum magni sit? Ipsam non dicta et perferendis tempora
                        mollitia expedita porro inventore repellat.
                    </p>
                    <div id="view">
                        <button>View More<span class="material-symbols-outlined" id="arrow1">
                                arrow_forward
                            </span></button>
                    </div>

                </div>
                <div id="bg2">
                    <img src="bg2.png" alt="">
                    <p><a href="">Real Estate, Analysis</a></p>
                    <div id="date-admin">
                        <div class="two"><span class="material-symbols-outlined" id="one-in">date_range </span>

                            <p>09 Jun 2022</p>
                        </div>
                        <div>By Admin</div>
                    </div>
                    <h3>Guide for personal property Buying</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat possimus quisquam culpa sunt,
                        architecto quasi repellendus exercitationem cumque reiciendis reprehenderit recusandae
                        repudiandae libero
                    </p>

                    <div id="view"> <button>View More<span class="material-symbols-outlined" id="arrow2">
                                arrow_forward
                            </span></button></div>
                </div>
                <div id="bg3">
                    <img src="bg3.png" alt="">
                    <p><a href="">Real Estate, Analysis</a></p>
                    <div id="date-admin">
                        <div class="three"><span class="material-symbols-outlined" id="one-in"> date_range</span>
                            <p>09 Jun 2022</p>
                        </div>
                        <div>By Admin</div>
                    </div>
                    <h3>Guide for personal property Buying</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam distinctio sed, neque obcaecati,
                        corporis quibusdam nesciunt, sint deserunt impedit accusantium nobis consectetur sequi dolores
                        minus est maiores facilis dolorum inventore.</p>
                    <div id="view"> <button>View More<span class="material-symbols-outlined" id="arrow3">
                                arrow_forward
                            </span></button></div>
                </div>

            </div>

        </div>
        <div id="contact">
            <h3>Get In Touch With Us To Connect</h3>
            <p>Contact Me</p>
            <div id="all">
             <form action="http://localhost:3000/contact" method="post">
                <div id="name-email">
                    <label for="firstName" id="fullname" >FullName</label>
                    <input type="text" id="ftname" name="fullname" required>
                    <label for="mail" id="mail-label">Email Address</label>
                    <input type="text" id="mail" placeholder="lorem@gmail.com" name="Email" required>

                </div>
                <div id="num-con">
                    <label for="num" id="num-label">Number</label>
                    <input type="tel" placeholder="Enter Mobile Number" id="num" maxlength="10"  min="0" max="9"  name="number" required>
                    <label for="city" id="city-label">City</label>
                    <select name="city" id="city" name="City">
                        <option value="Banglore">Banglore</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Hyderabad">Hyderabad</option>
                    </select>

                </div>
             
              
                <button id="submit">Submit</button>
             </form>
            </div>
            <div id="Happy"><img src="Happy announcement-pana.png"></div>
        </div>
    </section>
    <footer>

        <div id="content1">
            <h4>NMS</h4>
            <h6><span id="one">________</span>INNOVATION IN REALITY<span id="two">________</span></h6>
            <div id="company">
                <h3>company</h3>
                <div>
                    <ul>
                        <li><a href="http://localhost:3000/index">Home</a></li>
                        <li><a href="#offering">Our Offerings</a></li>
                        <li><a href="#Team">Our Team</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div id="useful">
                <h3>Useful Link</h3>
                <div>
                    <ul>
                        <li><a href="#Blogs">Blogs</a></li>
                        <li><a href="#">FAQ'S</a></li>
                    </ul>
                </div>
            </div>
            <div id="mail-phone">
                <div><a href="">
                        <span class="material-symbols-outlined" id="mail-icon">
                            mail
                        </span>
                        <span id="mail">
                            Email<br>
                            babu39986@gmail.com
                        </span>
                    </a>
                </div>
                <div>
                    <a href="">
                        <span class="material-symbols-outlined" id="phone-icon">
                            phone_in_talk
                        </span>
                        <span id="talk">
                            Phone<br>
                            9490059089
                        </span>
                    </a>
                </div>

            </div>
            <div id="icons">
                <a href="https://www.linkedin.com/in/naga-mahesh-babu-polana" id="linkedin"><span><i class="fa-brands fa-linkedin"></i>Linkedin</span></a>
                <a href="" id="Facebook"><span><i class="fa-brands fa-facebook"></i>Facebook</span></a>
                <a href="" id="twitter"><span><i class="fa-brands fa-twitter"></i>Twitter</span></a>
                <a href="" id="Instagram"><span><i class="fa-brands fa-instagram"></i>Instagram</span></a>
            </div>
    </footer>
    <script src="script.js"></script>
   
</body>

</html>