<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Handlee&family=Roboto&display=swap"
      rel="stylesheet"
    />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login </title>
  </head>

  <body>
    <form id="form">
      <h2>Login to main page</h2>
      <label for="email">Enter email : </label>
      <input
        type="text"
        id="email"
        required
        placeholder="Enter you email address"
        name="email"
      />
      <br />
      <label for="pswd">Enter Password : </label>
      <input
        type="password"
        id="pswd"
        required
        placeholder="Enter password"
        name="password"
      />
      <br />
      <span id="eye">Show</span>
      <input type="submit" id="submit" />
    </form>
    <div id="error"></div>

    <script src="login.js"></script>
  </body>
</html>
