<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update userdata</title>
    <link rel="stylesheet" href="updatecss.css">
   
</head>
<body>
    <form>
    <h1>Update username and Password</h1>
    <label for="First">Enter FirstName :</label>
    <input type="text" placeholder="Enter New FirstName" id="First" name="First"><br>
    <label for="Last">Enter LastName :</label>
    <input type="text" id="Last" placeholder="Enter New LastName" name="Last"><br>
    <label for="pswd">Enter New Password: </label>
    <input type="password" placeholder="Enter New Password" id="pswd" name="password"><br>
    <input type="submit" value="Update" id="submit">
    </form>
    <p id="eye">Show</p>
<script src="update.js"></script>
</body>
</html>